docs/
.DS_Store
colorizing_adain/__pycache__/
colorizing_adain/model/model_storage/
colorizing_adain/model/logs/
*.tar
*.pth
/colorizing_adain/src/__pycache__/
/colorizing_adain/data/output_dir/
*/.env
